.halaman-login .halaman-login-1 {
  margin: 0 35.2px 35px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.halaman-login .pilih-login {
  margin: 12px 39.6px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-login .ellipse-2 {
  margin-bottom: 18px;
  width: 11px;
  height: 12px;
}
.halaman-login .ellipse-3 {
  width: 11px;
  height: 12px;
}
.halaman-login .container-5 {
  margin: 6px 10px 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-login .admin {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.halaman-login .user {
  margin-right: 17.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.halaman-login .container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-login .container-4 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-login .username {
  margin-right: 15px;
  width: 124px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-login .rectangle-4 {
  background: #FFFFFF;
  margin-top: 1px;
  width: 256px;
  height: 29px;
}
.halaman-login .container-1 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 395px;
  box-sizing: border-box;
}
.halaman-login .password {
  margin-right: 15px;
  width: 124px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-login .rectangle-5 {
  background: #FFFFFF;
  margin-top: 1px;
  width: 256px;
  height: 29px;
}
.halaman-login .container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 395px;
  box-sizing: border-box;
}
.halaman-login .login {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-login .dont-have-an-account-sign-up {
  margin-left: 347px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: #738599;
}
.dont-have-an-account-sign-up {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #0079FB;
}
.halaman-login .container-3 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 78px 0 27px 28px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-login {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 171px 0 184px 0;
  width: 1280px;
  box-sizing: border-box;
}
